<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Франция</title>
</head>
<body>
    <h1>Франция</h1>
    <p>Франция — прекрасная страна в Западной Европе, знаменитая своей культурой, кулинарией и историей.</p>
    
    <h2>Париж</h2>
    <p>Столица Франции — Париж, город любви и света, известный своими историческими памятниками, включая Эйфелеву башню и Лувр.</p>
    
    <h2>Французская кухня</h2>
    <p>Франция славится своей изысканной кухней: французские сыры, вина, круассаны и другие вкусности.</p>
    
    <h2>История</h2>
    <p>Франция имеет богатую историю, связанную с Великой французской революцией, Наполеоном, дворцами Лувра и Версаля.</p>
</body>
</html>